@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: rgb(255, 255, 255);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
}

summary::-webkit-details-marker {
  display: none;
}

.spollers__title {
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: toRem(12);
  		height: toRem(1);
  		transition: all 0.3s ease 0s;
  		width: toRem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: toRem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: calc(50% - 8px);
  background-color: #fff;
  height: 2px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  border-radius: 6.25rem;
  background: #000;
  color: #FFF;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.75rem 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.button--white {
  border-radius: 6.25rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.4;
  border: 1px solid #000;
  padding: 0.75rem 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.block-title {
  font-weight: 700;
  line-height: 1.1;
}

.block-text {
  font-style: normal;
  line-height: 1.5;
}

.block-text a {
  color: #335C81;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 33.333%))[3];
  grid-template-columns: repeat(3, minmax(auto, 33.333%));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.item {
  max-width: 19.0625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.item__icon {
  max-width: 12.5rem;
}

.item__icon img {
  height: 100%;
}

.item__title {
  line-height: 1.3;
  font-weight: 700;
  padding-bottom: 0.625rem;
}

.item__text {
  line-height: 1.3;
}

.item__text a {
  color: #335C81;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 50;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.header__logo {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  z-index: 5;
}

.header__menu {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__action {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.1875rem;
}

.menu__link {
  font-size: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.icon-menu {
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer {
  background: #302E3F;
  color: #C5E9EA;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
  color: #fff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.info-footer:not(:last-child) {
  padding-bottom: 0.5625rem;
}

.info-footer-spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 20%))[5];
  grid-template-columns: repeat(5, minmax(auto, 20%));
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.info-footer-spollers__title {
  color: #FFF;
  font-weight: 700;
  line-height: 1.4;
}

.info-footer-spollers__title:not(:last-child) {
  padding-bottom: 0.75rem;
}

.info-footer-spollers__list {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.spollers-list__link {
  font-size: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: relative;
}

.spollers-list__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #C5E9EA;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.bottom-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.bottom-footer__link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.35;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: relative;
}

.bottom-footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #C5E9EA;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.hiro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.hiro__subtitle {
  font-weight: 700;
  line-height: 1.3;
}

.hiro__image {
  position: relative;
  z-index: 0;
}

.hiro__image img {
  width: 100%;
}

.beststack__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.beststack__image {
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.beststack__image._watcher-view {
  opacity: 1;
}

.beststack__image img {
  width: 100%;
}

.beststack__content {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.beststack__content._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.whyswitch__title {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.whyswitch__title._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.whyswitch__button {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
  border-radius: 6.25rem;
  background: #F7B2B7;
  padding: 0.75rem 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.whyswitch__button._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.build {
  background: #FDECED;
}

.build__title {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.build__title._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__text {
  line-height: 1.3;
  max-width: 14.75rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.partners__text._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.partners__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.partners__icons._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.achub__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.achub__content {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.achub__content._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.achub__button {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
  border-radius: 6.25rem;
  background: #F7B2B7;
  padding: 0.75rem 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.achub__image {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.achub__image._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.getstartet__container {
  border-radius: 0.625rem;
  background: #8BD4D6;
}

.getstartet__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.getstartet__content {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.getstartet__content._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.getstartet__title {
  font-weight: 700;
  line-height: 1.2;
}

.getstartet__button {
  white-space: nowrap;
  text-align: center;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

.getstartet__button._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

@media (min-width: 61.99875em) {
  .hiro__content {
    max-width: 30.6875rem;
  }

  .hiro__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .beststack__title {
    max-width: 27.6875rem;
  }

  .beststack__text {
    max-width: 32.1875rem;
  }

  .partners__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 236px;
            flex: 0 0 236px;
  }

  .partners__icons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .achub__content {
    width: 34.1875rem;
  }
}

@media (min-width: 73.75em) {
  .block-title {
    font-size: 3.5625rem;
  }

  .block-text {
    font-size: 1.25rem;
  }

  .item__icon:not(:last-child) {
    padding-bottom: 1.5rem;
  }

  .item__title {
    font-size: 1.75rem;
  }

  .item__text {
    font-size: 1.125rem;
  }

  .header {
    min-height: 6.5rem;
  }

  .header__container {
    min-height: 6.5rem;
  }

  .header__action {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .menu {
    position: relative;
    z-index: 5;
  }

  .footer {
    padding-top: 2.8125rem;
  }

  .footer {
    padding-bottom: 2.8125rem;
  }

  .footer__top {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .footer__top {
    font-size: 1.75rem;
  }

  .footer__top:not(:last-child) {
    padding-bottom: 3.1875rem;
  }

  .info-footer-spollers {
    row-gap: 5.0625rem;
  }

  .bottom-footer__info {
    -webkit-column-gap: 1.6875rem;
       -moz-column-gap: 1.6875rem;
            column-gap: 1.6875rem;
  }

  .hiro {
    padding-top: 10.625rem;
  }

  .hiro {
    padding-bottom: 7.875rem;
  }

  .hiro__title {
    font-size: 4.8125rem;
  }

  .hiro__title:not(:last-child) {
    padding-bottom: 1.6875rem;
  }

  .hiro__text:not(:last-child) {
    padding-bottom: 4.9375rem;
  }

  .hiro__subtitle {
    font-size: 1.125rem;
  }

  .hiro__subtitle:not(:last-child) {
    padding-bottom: 1.6875rem;
  }

  .hiro__image {
    -webkit-transform: translate(50px, -50px);
        -ms-transform: translate(50px, -50px);
            transform: translate(50px, -50px);
  }

  .beststack {
    padding-top: 3.1875rem;
  }

  .beststack {
    padding-bottom: 7.875rem;
  }

  .beststack__title:not(:last-child) {
    padding-bottom: 2.25rem;
  }

  .whyswitch {
    padding-top: 8.25rem;
  }

  .whyswitch {
    padding-bottom: 7.875rem;
  }

  .whyswitch__title:not(:last-child) {
    padding-bottom: 5.125rem;
  }

  .whyswitch__content {
    padding-bottom: 3.375rem;
  }

  .build {
    padding-top: 8.25rem;
  }

  .build {
    padding-bottom: 7.875rem;
  }

  .build__title:not(:last-child) {
    padding-bottom: 5.125rem;
  }

  .partners {
    padding-top: 6.6875rem;
  }

  .partners {
    padding-bottom: 5.625rem;
  }

  .partners__text {
    font-size: 1.6875rem;
  }

  .partners__icons {
    gap: 2.1875rem;
  }

  .achub {
    padding-top: 6.6875rem;
  }

  .achub {
    padding-bottom: 11.625rem;
  }

  .achub__title:not(:last-child) {
    padding-bottom: 2.5rem;
  }

  .achub__text:not(:last-child) {
    padding-bottom: 4.9375rem;
  }

  .getstartet {
    padding-bottom: 6.75rem;
  }

  .getstartet__body {
    padding: 5.625rem;
  }

  .getstartet__title {
    font-size: 2.875rem;
  }

  .getstartet__title:not(:last-child) {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 20em) {
  .block-title {
    font-size: 2rem;
  }

  .block-text {
    font-size: 1.125rem;
  }

  .item__icon:not(:last-child) {
    padding-bottom: 0.9375rem;
  }

  .item__title {
    font-size: 1.5rem;
  }

  .item__text {
    font-size: 0.875rem;
  }

  .header {
    min-height: 3.125rem;
  }

  .header__container {
    min-height: 3.125rem;
  }

  .header__action {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__top {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .footer__top {
    font-size: 1.5rem;
  }

  .footer__top:not(:last-child) {
    padding-bottom: 1.25rem;
  }

  .info-footer-spollers {
    row-gap: 1.875rem;
  }

  .bottom-footer__info {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .hiro {
    padding-top: 4.375rem;
  }

  .hiro {
    padding-bottom: 2.5rem;
  }

  .hiro__title {
    font-size: 2.75rem;
  }

  .hiro__title:not(:last-child) {
    padding-bottom: 0.9375rem;
  }

  .hiro__text:not(:last-child) {
    padding-bottom: 2.1875rem;
  }

  .hiro__subtitle {
    font-size: 1rem;
  }

  .hiro__subtitle:not(:last-child) {
    padding-bottom: 0.9375rem;
  }

  .beststack {
    padding-top: 1.25rem;
  }

  .beststack {
    padding-bottom: 2.5rem;
  }

  .beststack__title:not(:last-child) {
    padding-bottom: 0.9375rem;
  }

  .whyswitch {
    padding-top: 2.5rem;
  }

  .whyswitch {
    padding-bottom: 2.5rem;
  }

  .whyswitch__title:not(:last-child) {
    padding-bottom: 1.25rem;
  }

  .whyswitch__content {
    padding-bottom: 1.25rem;
  }

  .build {
    padding-top: 2.5rem;
  }

  .build {
    padding-bottom: 2.5rem;
  }

  .build__title:not(:last-child) {
    padding-bottom: 1.25rem;
  }

  .partners {
    padding-top: 1.875rem;
  }

  .partners {
    padding-bottom: 1.25rem;
  }

  .partners__text {
    font-size: 1.375rem;
  }

  .partners__icons {
    gap: 0.9375rem;
  }

  .achub {
    padding-top: 3.75rem;
  }

  .achub {
    padding-bottom: 5rem;
  }

  .achub__title:not(:last-child) {
    padding-bottom: 0.9375rem;
  }

  .achub__text:not(:last-child) {
    padding-bottom: 1.875rem;
  }

  .getstartet {
    padding-bottom: 2.5rem;
  }

  .getstartet__body {
    padding: 1.25rem;
  }

  .getstartet__title {
    font-size: 1.75rem;
  }

  .getstartet__title:not(:last-child) {
    padding-bottom: 0.625rem;
  }
}

@media (max-width: 73.75em) {
  .header__container {
    -ms-grid-columns: auto auto 1.875rem;
    grid-template-columns: auto auto 1.875rem;
  }

  .menu {
    overflow: auto;
    padding: 5rem 0.625rem 1.875rem 0.625rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu {
    left: 0%;
    text-align: center;
    display: -ms-grid;
    display: grid;
    row-gap: 0.625rem;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    border-radius: 10%;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 73.75em) and (max-width: 20em) {
  .menu-open .menu__link {
    font-size: 1.125rem;
  }
}

@media (max-width: 73.75em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 61.99875em) {
  .hiro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .beststack__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .partners__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .achub__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .achub__image img {
    max-width: 100%;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .hiro__container {
    row-gap: 1.5625rem;
  }

  .beststack__container {
    row-gap: 1.5625rem;
  }

  .partners__text:not(:last-child) {
    padding-bottom: 1.5625rem;
  }

  .achub__container {
    row-gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .body-items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__container {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  .header__action {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .info-footer-spollers {
    -ms-grid-columns: (minmax(auto, 50%))[2];
    grid-template-columns: repeat(2, minmax(auto, 50%));
  }

  .getstartet__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .body-items {
    row-gap: 1.25rem;
  }

  .getstartet__body {
    row-gap: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .info-footer-spollers {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .whyswitch__button {
    min-width: 100%;
  }

  .achub__button {
    min-width: 100%;
  }

  .getstartet__button {
    min-width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 73.75em) {
@supports (font-size: clamp( 2rem , 1.4186046512rem  +  2.9069767442vw , 3.5625rem )) {
    .block-title {
      font-size: clamp( 2rem , 1.4186046512rem  +  2.9069767442vw , 3.5625rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.4186046512rem  +  2.9069767442vw , 3.5625rem )) {
    .block-title {
      font-size: calc(2rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0784883721rem  +  0.2325581395vw , 1.25rem )) {
    .block-text {
      font-size: clamp( 1.125rem , 1.0784883721rem  +  0.2325581395vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0784883721rem  +  0.2325581395vw , 1.25rem )) {
    .block-text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .item__icon:not(:last-child) {
      padding-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .item__icon:not(:last-child) {
      padding-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1.5rem , 1.4069767442rem  +  0.4651162791vw , 1.75rem )) {
    .item__title {
      font-size: clamp( 1.5rem , 1.4069767442rem  +  0.4651162791vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.4069767442rem  +  0.4651162791vw , 1.75rem )) {
    .item__title {
      font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7819767442rem  +  0.4651162791vw , 1.125rem )) {
    .item__text {
      font-size: clamp( 0.875rem , 0.7819767442rem  +  0.4651162791vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7819767442rem  +  0.4651162791vw , 1.125rem )) {
    .item__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (min-height: clamp( 3.125rem , 1.8691860465rem  +  6.2790697674vw , 6.5rem )) {
    .header {
      min-height: clamp( 3.125rem , 1.8691860465rem  +  6.2790697674vw , 6.5rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 1.8691860465rem  +  6.2790697674vw , 6.5rem )) {
    .header {
      min-height: calc(3.125rem + 3.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (min-height: clamp( 3.125rem , 1.8691860465rem  +  6.2790697674vw , 6.5rem )) {
    .header__container {
      min-height: clamp( 3.125rem , 1.8691860465rem  +  6.2790697674vw , 6.5rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 1.8691860465rem  +  6.2790697674vw , 6.5rem )) {
    .header__container {
      min-height: calc(3.125rem + 3.375 * (100vw - 20rem) / 53.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem ))) {
    .header__action {
      -webkit-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
              column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem ))) {
    .header__action {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
              column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6686046512rem  +  2.9069767442vw , 2.8125rem )) {
    .footer {
      padding-top: clamp( 1.25rem , 0.6686046512rem  +  2.9069767442vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6686046512rem  +  2.9069767442vw , 2.8125rem )) {
    .footer {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6686046512rem  +  2.9069767442vw , 2.8125rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.6686046512rem  +  2.9069767442vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6686046512rem  +  2.9069767442vw , 2.8125rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem ))) {
    .footer__top {
      -webkit-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
              column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem ))) {
    .footer__top {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
              column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1.5rem , 1.4069767442rem  +  0.4651162791vw , 1.75rem )) {
    .footer__top {
      font-size: clamp( 1.5rem , 1.4069767442rem  +  0.4651162791vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.4069767442rem  +  0.4651162791vw , 1.75rem )) {
    .footer__top {
      font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5290697674rem  +  3.6046511628vw , 3.1875rem )) {
    .footer__top:not(:last-child) {
      padding-bottom: clamp( 1.25rem , 0.5290697674rem  +  3.6046511628vw , 3.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5290697674rem  +  3.6046511628vw , 3.1875rem )) {
    .footer__top:not(:last-child) {
      padding-bottom: calc(1.25rem + 1.9375 * (100vw - 20rem) / 53.75);
    }
}

@supports (row-gap: clamp( 1.875rem , 0.6889534884rem  +  5.9302325581vw , 5.0625rem )) {
    .info-footer-spollers {
      row-gap: clamp( 1.875rem , 0.6889534884rem  +  5.9302325581vw , 5.0625rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 0.6889534884rem  +  5.9302325581vw , 5.0625rem )) {
    .info-footer-spollers {
      row-gap: calc(1.875rem + 3.1875 * (100vw - 20rem) / 53.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem )) or (column-gap: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem ))) {
    .bottom-footer__info {
      -webkit-column-gap: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem );
         -moz-column-gap: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem );
              column-gap: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem )) or (column-gap: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem ))) {
    .bottom-footer__info {
      -webkit-column-gap: calc(0.9375rem + 0.75 * (100vw - 20rem) / 53.75);
         -moz-column-gap: calc(0.9375rem + 0.75 * (100vw - 20rem) / 53.75);
              column-gap: calc(0.9375rem + 0.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 4.375rem , 2.0494186047rem  +  11.6279069767vw , 10.625rem )) {
    .hiro {
      padding-top: clamp( 4.375rem , 2.0494186047rem  +  11.6279069767vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 2.0494186047rem  +  11.6279069767vw , 10.625rem )) {
    .hiro {
      padding-top: calc(4.375rem + 6.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .hiro {
      padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .hiro {
      padding-bottom: calc(2.5rem + 5.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 2.75rem , 1.9825581395rem  +  3.8372093023vw , 4.8125rem )) {
    .hiro__title {
      font-size: clamp( 2.75rem , 1.9825581395rem  +  3.8372093023vw , 4.8125rem );
    }
}

@supports not (font-size: clamp( 2.75rem , 1.9825581395rem  +  3.8372093023vw , 4.8125rem )) {
    .hiro__title {
      font-size: calc(2.75rem + 2.0625 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem )) {
    .hiro__title:not(:last-child) {
      padding-bottom: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem )) {
    .hiro__title:not(:last-child) {
      padding-bottom: calc(0.9375rem + 0.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 1.164244186rem  +  5.1162790698vw , 4.9375rem )) {
    .hiro__text:not(:last-child) {
      padding-bottom: clamp( 2.1875rem , 1.164244186rem  +  5.1162790698vw , 4.9375rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 1.164244186rem  +  5.1162790698vw , 4.9375rem )) {
    .hiro__text:not(:last-child) {
      padding-bottom: calc(2.1875rem + 2.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1rem , 0.9534883721rem  +  0.2325581395vw , 1.125rem )) {
    .hiro__subtitle {
      font-size: clamp( 1rem , 0.9534883721rem  +  0.2325581395vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9534883721rem  +  0.2325581395vw , 1.125rem )) {
    .hiro__subtitle {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem )) {
    .hiro__subtitle:not(:last-child) {
      padding-bottom: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6584302326rem  +  1.3953488372vw , 1.6875rem )) {
    .hiro__subtitle:not(:last-child) {
      padding-bottom: calc(0.9375rem + 0.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5290697674rem  +  3.6046511628vw , 3.1875rem )) {
    .beststack {
      padding-top: clamp( 1.25rem , 0.5290697674rem  +  3.6046511628vw , 3.1875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5290697674rem  +  3.6046511628vw , 3.1875rem )) {
    .beststack {
      padding-top: calc(1.25rem + 1.9375 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .beststack {
      padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .beststack {
      padding-bottom: calc(2.5rem + 5.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.449127907rem  +  2.4418604651vw , 2.25rem )) {
    .beststack__title:not(:last-child) {
      padding-bottom: clamp( 0.9375rem , 0.449127907rem  +  2.4418604651vw , 2.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.449127907rem  +  2.4418604651vw , 2.25rem )) {
    .beststack__title:not(:last-child) {
      padding-bottom: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.3604651163rem  +  10.6976744186vw , 8.25rem )) {
    .whyswitch {
      padding-top: clamp( 2.5rem , 0.3604651163rem  +  10.6976744186vw , 8.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.3604651163rem  +  10.6976744186vw , 8.25rem )) {
    .whyswitch {
      padding-top: calc(2.5rem + 5.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .whyswitch {
      padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .whyswitch {
      padding-bottom: calc(2.5rem + 5.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1918604651rem  +  7.2093023256vw , 5.125rem )) {
    .whyswitch__title:not(:last-child) {
      padding-bottom: clamp( 1.25rem , -0.1918604651rem  +  7.2093023256vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1918604651rem  +  7.2093023256vw , 5.125rem )) {
    .whyswitch__title:not(:last-child) {
      padding-bottom: calc(1.25rem + 3.875 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.4593023256rem  +  3.9534883721vw , 3.375rem )) {
    .whyswitch__content {
      padding-bottom: clamp( 1.25rem , 0.4593023256rem  +  3.9534883721vw , 3.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.4593023256rem  +  3.9534883721vw , 3.375rem )) {
    .whyswitch__content {
      padding-bottom: calc(1.25rem + 2.125 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.3604651163rem  +  10.6976744186vw , 8.25rem )) {
    .build {
      padding-top: clamp( 2.5rem , 0.3604651163rem  +  10.6976744186vw , 8.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.3604651163rem  +  10.6976744186vw , 8.25rem )) {
    .build {
      padding-top: calc(2.5rem + 5.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .build {
      padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.5rem  +  10vw , 7.875rem )) {
    .build {
      padding-bottom: calc(2.5rem + 5.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1918604651rem  +  7.2093023256vw , 5.125rem )) {
    .build__title:not(:last-child) {
      padding-bottom: clamp( 1.25rem , -0.1918604651rem  +  7.2093023256vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1918604651rem  +  7.2093023256vw , 5.125rem )) {
    .build__title:not(:last-child) {
      padding-bottom: calc(1.25rem + 3.875 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.0843023256rem  +  8.9534883721vw , 6.6875rem )) {
    .partners {
      padding-top: clamp( 1.875rem , 0.0843023256rem  +  8.9534883721vw , 6.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.0843023256rem  +  8.9534883721vw , 6.6875rem )) {
    .partners {
      padding-top: calc(1.875rem + 4.8125 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem )) {
    .partners {
      padding-bottom: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem )) {
    .partners {
      padding-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2587209302rem  +  0.5813953488vw , 1.6875rem )) {
    .partners__text {
      font-size: clamp( 1.375rem , 1.2587209302rem  +  0.5813953488vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2587209302rem  +  0.5813953488vw , 1.6875rem )) {
    .partners__text {
      font-size: calc(1.375rem + 0.3125 * (100vw - 20rem) / 53.75);
    }
}

@supports (gap: clamp( 0.9375rem , 0.4723837209rem  +  2.3255813953vw , 2.1875rem )) {
    .partners__icons {
      gap: clamp( 0.9375rem , 0.4723837209rem  +  2.3255813953vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.4723837209rem  +  2.3255813953vw , 2.1875rem )) {
    .partners__icons {
      gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.6569767442rem  +  5.4651162791vw , 6.6875rem )) {
    .achub {
      padding-top: clamp( 3.75rem , 2.6569767442rem  +  5.4651162791vw , 6.6875rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.6569767442rem  +  5.4651162791vw , 6.6875rem )) {
    .achub {
      padding-top: calc(3.75rem + 2.9375 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 5rem , 2.5348837209rem  +  12.3255813953vw , 11.625rem )) {
    .achub {
      padding-bottom: clamp( 5rem , 2.5348837209rem  +  12.3255813953vw , 11.625rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 2.5348837209rem  +  12.3255813953vw , 11.625rem )) {
    .achub {
      padding-bottom: calc(5rem + 6.625 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
    .achub__title:not(:last-child) {
      padding-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
    .achub__title:not(:last-child) {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7354651163rem  +  5.6976744186vw , 4.9375rem )) {
    .achub__text:not(:last-child) {
      padding-bottom: clamp( 1.875rem , 0.7354651163rem  +  5.6976744186vw , 4.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7354651163rem  +  5.6976744186vw , 4.9375rem )) {
    .achub__text:not(:last-child) {
      padding-bottom: calc(1.875rem + 3.0625 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9186046512rem  +  7.9069767442vw , 6.75rem )) {
    .getstartet {
      padding-bottom: clamp( 2.5rem , 0.9186046512rem  +  7.9069767442vw , 6.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9186046512rem  +  7.9069767442vw , 6.75rem )) {
    .getstartet {
      padding-bottom: calc(2.5rem + 4.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem )) {
    .getstartet__body {
      padding: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem );
    }
}

@supports not (padding: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem )) {
    .getstartet__body {
      padding: calc(1.25rem + 4.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1.75rem , 1.3313953488rem  +  2.0930232558vw , 2.875rem )) {
    .getstartet__title {
      font-size: clamp( 1.75rem , 1.3313953488rem  +  2.0930232558vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.3313953488rem  +  2.0930232558vw , 2.875rem )) {
    .getstartet__title {
      font-size: calc(1.75rem + 1.125 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
    .getstartet__title:not(:last-child) {
      padding-bottom: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
    .getstartet__title:not(:last-child) {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 73.75em) {
  .body-items {
    row-gap: 3.125rem;
  }

  .getstartet__body {
    row-gap: 2.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 73.75em) {
@supports (row-gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
    .body-items {
      row-gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
    .body-items {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.75);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
    .getstartet__body {
      row-gap: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
    .getstartet__body {
      row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.75);
    }
}
}

@media (max-width: 73.75em) and (min-width: 73.75em) {
  .menu-open .menu__link {
    font-size: 1.625rem;
  }
}

@media (max-width: 73.75em) and (min-width: 20em) and (max-width: 73.75em) {
@supports (font-size: clamp( 1.125rem , 0.9389534884rem  +  0.9302325581vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: clamp( 1.125rem , 0.9389534884rem  +  0.9302325581vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9389534884rem  +  0.9302325581vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 53.75);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 73.75em) {
  .hiro__container {
    row-gap: 3.125rem;
  }

  .beststack__container {
    row-gap: 3.125rem;
  }

  .partners__text:not(:last-child) {
    padding-bottom: 3.125rem;
  }

  .achub__container {
    row-gap: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 73.75em) {
@supports (row-gap: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem )) {
    .hiro__container {
      row-gap: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem )) {
    .hiro__container {
      row-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (row-gap: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem )) {
    .beststack__container {
      row-gap: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem )) {
    .beststack__container {
      row-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem )) {
    .partners__text:not(:last-child) {
      padding-bottom: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9811046512rem  +  2.9069767442vw , 3.125rem )) {
    .partners__text:not(:last-child) {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
    .achub__container {
      row-gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
    .achub__container {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.75);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: #181818;
  }

  .button--white:hover {
    background: #b4b4b4;
  }

  .block-text a:hover {
    color: #477cab;
  }

  .item__text a:hover {
    color: #477cab;
  }

  .menu__link:hover {
    color: #000;
  }

  .menu__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .spollers-list__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .bottom-footer__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .whyswitch__button:hover {
    background: #f3989e;
  }

  .achub__button:hover {
    background: #f3989e;
  }
}